<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794723383934-5iuebjk5rvnrtsa06r943csafj83mljv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794723383934-5iuebjk5rvnrtsa06r943csafj83mljv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>794723383934-5og6s72c6tls6vsc3pmso78aap8a70i2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVU6brtVyMPzWg-1agB1tJILIgQIO7XqI</string>
	<key>GCM_SENDER_ID</key>
	<string>794723383934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frootlo.pk.Frootlo</string>
	<key>PROJECT_ID</key>
	<string>frootlo-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>frootlo-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794723383934:ios:77c750d4af1cdc725c762f</string>
	<key>DATABASE_URL</key>
	<string>https://frootlo-staging.firebaseio.com</string>
</dict>
</plist>