//
//  Frootlo Debug Production.xcconfig
//  Frootlo
//
//  Created by BYKEA - Hadi Ali on 30/06/2020.
//  Copyright © 2020 Frootlo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Frootlo/Pods-Frootlo.debug production.xcconfig"

slash=/

// Production.xcconfig
// Server URL
base_url = https:$(slash)/www.mytestapp.thoughtbot.com

// Keys
api_key = 9ud0930djd_md9zdjdko3830lb0d

// App Settings
APP_NAME = MyTestApp
APP_BUNDLE_ID = com.thoughtbot.MyTestApp
