//
//  Frootlo Release Staging.xcconfig
//  Frootlo
//
//  Created by BYKEA - Hadi Ali on 30/06/2020.
//  Copyright © 2020 Frootlo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Frootlo/Pods-Frootlo.release staging.xcconfig"

slash=/

// Staging.xcconfig
// Server URL
base_url = https:$(slash)/www.staging.mytestapp.thoughtbot.com

// Keys
api_key = 89dhdyd93380dkqmoe_hd830dhq

// App Settings
APP_NAME = MyTestApp (staging)
APP_BUNDLE_ID = com.thoughtbot.MyTestApp.staging
